---
layout: default
title: Code of Conduct
id: code-of-conduct-page
permalink: /code-of-conduct/
---

<header class="full-width sub-pages">
  <div class="container">
    <section class="info wide">
      <img src="/assets/images/logo_clean.svg">
      <h2>EuRuKo 2019</h2>
      <h1>Code of Conduct</h1>
    </section>
  </div>
</header>
<main>
  <section class="page-content">
    <div class="container">
      <a id="code-of-conduct" class="anchor"></a>
      <h2>Code of Conduct</h2>

      <h3>Our Pledge</h3>

      <p>
        In the interest of fostering an open and welcoming environment, we as organisers and CoC team members pledge to making participation in our conference and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
      </p>
      <p>
        We adhere to the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct" target="_blank">Contributor Covenant</a>. The full text can be found <a href="#code-of-conduct">here</a>.
      </p>
      <h3>Our Standards</h3>

      <p>
        Examples of behavior that contributes to creating a positive environment include:
      </p>

      <ul>
        <li>Using welcoming and inclusive language</li>
        <li>Being respectful of differing viewpoints and experiences</li>
        <li>Gracefully accepting constructive criticism</li>
        <li>Focusing on what is best for the community</li>
        <li>Showing empathy towards other community members</li>
      </ul>

      <p>
        Examples of unacceptable behavior by participants include:
      </p>

      <ul>
        <li>The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
        <li>Trolling, insulting/derogatory comments, and personal or political attacks</li>
        <li>Public or private harassment</li>
        <li>Publishing others’ private information, such as a physical or electronic address, without explicit permission</li>
        <li>Other conduct which could reasonably be considered inappropriate in a professional setting</li>
      </ul>

      <h3>Our Responsibilities</h3>

      <p>
        The conference organisers are responsible for clarifying the standards of acceptable behavior and are expected to take appropriate and fair corrective action in response to any instances of unacceptable behavior.
      </p>

      <p>
        The CoC team has the right and responsibility to remove, edit, or reject comments, commits, code, wiki edits, issues, and other contributions that are not aligned to this Code of Conduct, or to ban temporarily or permanently any contributor for other behaviors that they deem inappropriate, threatening, offensive, or harmful.
      </p>

      <h3>Scope</h3>

      <p>
        This Code of Conduct applies both within event spaces on the conference and in public spaces when an individual is representing the conference or its community. Examples of representing the event or community include using an official conference e-mail address, posting via an official social media account, or acting as an appointed representative at the online or offline event.
      </p>

      <h3>Enforcement</h3>

      <p>
        Instances of abusive, harassing, or otherwise unacceptable behavior may be reported by contacting the CoC team at <a href="mailto:organisers@euruko.org">organisers@euruko.org</a>. All complaints will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. The CoC team is obligated to maintain confidentiality with regard to the reporter of an incident. Further details of specific enforcement policies may be posted separately.
      </p>

      <p>
        CoC team members who do not follow or enforce the Code of Conduct in good faith may face temporary or permanent repercussions as determined by other members of the CoC team.
      </p>

      <h3>Attribution</h3>

      <p>
        This Code of Conduct is adapted from the Contributor Covenant, version 1.4, available at <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct.html">www.contributor-covenant.org/version/1/4/code-of-conduct.html</a>
      </p>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <h2>Code of Conduct Team</h2>
    </div>
    <div class="members">
      <article class="c-person">
        <img src="/assets/images/team/mislav.jpg" />
        <h3 class="name">Mislav Marohnić</h3>
        <div class="social">
          <a href="https://t.me/mmislav">
            {% include telegram_icon.html %}
          </a>
          <a href="mailto:mislav@github.com">
            {% include email_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/piotr.jpg" />
        <h3 class="name">Piotr Szotkowski</h3>
        <div class="social">
          <a href="https://t.me/chastell">
            {% include telegram_icon.html %}
          </a>
          <a href="mailto:chastell@chastell.net">
            {% include email_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/floord.jpg" />
        <h3 class="name">Floor Drees</h3>
        <div class="social">
          <a href="https://t.me/floord">
            {% include telegram_icon.html %}
          </a>
          <a href="mailto:floor@euruko.org">
            {% include email_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/rayta.jpg" />
        <h3 class="name">Rayta van Rijswijk</h3>
        <div class="social">
          <a href="https://t.me/raytalks">
            {% include telegram_icon.html %}
          </a>
          <a href="mailto:rayta@euruko.org">
            {% include email_icon.html %}
          </a>
        </div>
      </article>
    </div>
  </section>
</main>
