---
layout: default
id: index-page
title: EuRuKo'19, June 21st - 22nd 2019, Rotterdam
---
<header class="full-width">
  <div class="overlay1"></div>
  <div class="overlay2"></div>
  <div class="container">
    <div class="info-and-image">
      <section id="info">
        <h1>EuRuKo'19</h1>
        <h2>June 21st - 22nd, 2019</h2>
        <p>The annual European Ruby conference will dock in Rotterdam!</p>
        <a class="button bg-red" href="https://ti.to/euruko2019/euruko-rotterdam-2019" target="_blank">Yes, I'd like to climb aboard!</a>
      </section>
      <section id="logo-image">
        {% include logo_image.html %}
      </section>
    </div>
    <section id="speakers">
      <h1>Speakers</h1>
      <article>
        {% for speaker in site.data.speakers %}
        <div class="speaker">
          <img src="{{ speaker.image_url }}">
          <p class="name">
            {{ speaker.first_name }} {{ speaker.last_name }}
          </p>
          <p class="social">
            {% if speaker.twitter %}
             <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
              {% include twitter_icon.html %}
            </a>
            {% endif %}
          </p>
          {% if speaker.keynote %}
          <p class="sticker">
            keynote
          </p>
          {% endif %}
        </div>
        {% endfor %}
      </article>
    </section>
  </div>
</header>
<main>
  <section id="organisors">
    <div class="container">
      <div class="description">
        <h1>Meet RubyNL, the driving force behind EuRuKo 2019</h1>
        <p>
          RubyNL is a Dutch Ruby foundation led by Rayta van Rijswijk and Floor Drees.
        </p>
      </div>
      <div class="members">
        <article class="member">
          <img src="/assets/images/team/rayta.jpg" />
          <div class="name">Rayta van Rijswijk</div>
          <div class="social">
            <a href="https://twitter.com/raytalks" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/raytalks" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
        <article class="member">
          <img src="/assets/images/team/floord.jpg" />
          <div class="name">Floor Drees</div>
          <div class="social">
            <a href="https://twitter.com/floordrees" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/floord" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
      </div>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <h2>And the rest of the team</h2>
      <div class="members">
        <article class="member">
          <img src="/assets/images/team/royt.jpg" />
          <div class="name">Roy Tomeij</div>
          <div class="social">
            <a href="https://twitter.com/roy" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/roytomeij" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
        <article class="member">
          <img src="/assets/images/team/tom.png" />
          <div class="name">Tom de Bruijn</div>
          <div class="social">
            <a href="https://twitter.com/tombruijn" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/tombruijn" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
        <article class="member">
          <img src="/assets/images/team/tonci.jpg" />
          <div class="name">Tonći Galić</div>
          <div class="social">
            <a href="https://twitter.com/tuxified" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/Tuxified" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
        <article class="member">
          <img src="/assets/images/team/terence.jpg" />
          <div class="name">Terence Lee</div>
          <div class="social">
            <a href="https://twitter.com/hone02" target="_blank">
              {% include twitter_icon.html %}
            </a>
            <a href="https://github.com/hone" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
        <article class="member">
          <img src="/assets/images/team/arno.jpg" />
          <div class="name">Arno Fleming</div>
          <div class="social">
            <a href="https://github.com/arnoFleming" target="_blank">
              {% include github_icon.html %}
            </a>
          </div>
        </article>
      </div>
      <div class="credits">
        <p>Artwork by <a href="http://www.nickvisr.nl/" target="_blank">Nick Visser</a>. Implementation by <a href="https://github.com/scarhand" target="_blank">Niels van der Zanden</a>.</p>
      </div>
    </div>
  </section>

  <section id="venue">
    <div class="container">
      <div class="image">
        <img src="/assets/images/ss-rotterdam.png">
      </div>
      <div class="location">
        <h1>Board the SS Rotterdam!</h1>
        <p class="address">
          3e Katendrechtsehoofd 25, 3072AM Rotterdam
        </p>
        <p class="description">
          For this year's EuRuKo we have managed to secure a location so uniquely Rotterdam, it's crazy! Namely the ss Rotterdam. A ship with a rich history now permanently docked right in the smack center of Rotterdam.
          <!-- <a href="#">Read more</a> -->
        </p><p><a href="https://gc.synxis.com/rez.aspx?hotel=59913&start=calendar&chain=10024&locale=en-US&adult=2&_ga=2.103436297.801378335.1547729698-1483602838.1547123594" target="_blank">Book your accommodation</a> on the ship (yes, really).</p>
        <!-- <a href="#" class="button bg-red">How do I get there?</a> -->
      </div>
    </div>
  </section>

  <section id="schedule">
    <div class="container">
      <p>Obviously, the schedule is subject to change.</p>
      <div class="day-1">
        <h2>Friday, June 21</h2>
        <table>
          <colgroup>
            <col class="time">
            <col class="event">
          </colgroup>
          <tbody>
            <tr>
              <td>10:00 - 10:30</td>
              <td>Keynote: Yukihiro Matsumoto</td>
            </tr>
            <tr>
              <td>10:30 - 10:50</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>10:50 - 11:20</td>
              <td>Talk 1</td>
            </tr>
            <tr>
              <td>11:20 - 11:50</td>
              <td>Surrounded by Microservices - Damir Svrtan</td>
            </tr>
            <tr>
              <td>11:50 - 12:10</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>12:10 - 12:40</td>
              <td>Talk 3</td>
            </tr>
            <tr>
              <td>12:40 - 13:10</td>
              <td>Talk 4</td>
            </tr>
            <tr>
              <td>13:10 - 14:10</td>
              <td>Lunch</td>
            </tr>
            <tr>
              <td>14:10 - 14:40</td>
              <td>Building Bricks with MRuby: A Journey to MRuby on LEGO robots - Torsten Schönebaum</td>
            </tr>
            <tr>
              <td>14:40 - 15:10</td>
              <td>A Gentle Introduction to Data Structure Trees -Ashley Jean</td>
            </tr>
            <tr>
              <td>15:10 - 15:30</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>15:30 - 15:50</td>
              <td>Closing Notes</td>
            </tr>
            <tr>
              <td>15:50 - 16:20</td>
              <td>Closing Keynote: Charity Majors</td>
            </tr>
            <tr>
              <td>20:00 - 24:00</td>
              <td>Party</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="day-2">
        <h2>Saturday, June 22</h2>
        <table>
          <colgroup>
            <col class="time">
            <col class="event">
          </colgroup>
          <tbody>
              <td>10:30 - 11:00</td>
              <td>Keynote: Laura Linda Laugwitz</td>
            </tr>
            <tr>
              <td>11:00 - 11:20</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>11:20 - 11:50</td>
              <td>Steal This Talk - Aaron Cruz</td>
            </tr>
            <tr>
              <td>11:50 - 12:20</td>
              <td>Talk 8</td>
            </tr>
            <tr>
              <td>12:20 - 12:40</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>12:40 - 13:10</td>
              <td>Lightning Talks</td>
            </tr>
            <tr>
              <td>13:10 - 13:30</td>
              <td>City Pitch</td>
            </tr>
            <tr>
              <td>13:30 - 14:30</td>
              <td>Lunch</td>
            </tr>
            <tr>
              <td>14:30 - 15:00</td>
              <td>Talk 9</td>
            </tr>
            <tr>
              <td>15:00 - 15:30</td>
              <td>The musical Ruby - Jan Krutisch</td>
            </tr>
            <tr>
              <td>15:30 - 15:50</td>
              <td>Break</td>
            </tr>
            <tr>
              <td>15:50 - 16:20</td>
              <td>Closing Keynote: Eileen M. Uchitelle</td>
            </tr>
            <tr>
              <td>16:20 - 16:40</td>
              <td>Closing Notes (+city reveal)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <h1>EuRuKo 2019 is kept afloat by these great companies</h1>
      <p>
        Please <a href="mailto:rayta@euruko.org">contact us</a> about sponsoring.
        Or <a href="/sponsoring/">check out</a> our sponsoring packages!
      </p>

      {% include sponsors.html %}
    </div>
  </section>

  <!-- <section id="sponsor-booth" class="full-width">
    <div class="container">
      <h1>Startup Contest - Win a booth!</h1>
      <p>
        We understand that not every team can afford a sponsorship package, but do want to get their name out there. That’s why we’re giving away 1 booth spot, to the startup that comes up with the best idea in our <strong>Icebreaker Contest</strong>.
      </p>
      <p>
        People come to EuRuKo to connect with other Rubyists. We’re looking for solutions to help them reach that goal. We’re not saying app (but maybe we are). We <strong>are</strong> saying Ruby. Help EuRuKo attendees expand their circle, and promote alongside the big players!
      </p>
      <div class="post-link">
        <p>Post a your idea (or a demonstration) of your solution to the EuRuKo repository.</p>
        <p>Read more about <a href="https://github.com/euruko/euruko2019.github.io/issues/9">the contest and its rules</a>.</p>

        <a href="https://github.com/euruko/euruko2019.github.io/issues/new" target="_blank" class="button bg-red outline proposal">Post your idea</a>
        <p>Contest closes Friday May 3rd, 12PM CET</p>
      </div>
    </div>
  </section>-->

  <section id="code-of-conduct">
    <div class="container">
      <h1>Code of Conduct</h1>
      <p>
        In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
      </p>
      <p>The event space is (wheelchair) accessible.</p>
      <p>
        We adhere to the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct" target="_blank">Contributor Convenant</a>.
        <!-- Don’t hesitate to reach out when you notice anything that goes against the spirit of our Code of Conduct:<br />
        <a href="mailto:floor@euruko.org" class="contact">floor@euruko.org</a> or: <a href="mailto:rayta@euruko.org" class="contact">rayta@euruko.org</a> -->
      </p>
    </div>
  </section>

  <section id="railsgirls">
    <div class="container">
      <h1>Rails Girls Rotterdam 2019</h1>
      <p>
        One day prior to the conference, we throw a free workshop at the <a href="https://www.beequip.nl" target="_blank">BEEQUIP</a> office in Rotterdam. Dive into the magical world of web development, at <a href="http://railsgirls.com/rotterdam19.html" target="_blank">Rails Girls Rotterdam</a>, June 20, 2019.
      </p>
    </div>
  </section>
</main>
