---
layout: default
id: index-page
title: EuRuKo'19, June 21st - 22nd 2019, Rotterdam
---

<header class="full-width intro">
  <div class="container">
    <section class="info">
      <h2>June 21st - 22nd, 2019</h2>
      <h1>EuRuKo'19</h1>
      <p>The annual European Ruby conference will dock in Rotterdam!</p>
      <hr>
      <p><span class="button bg-red">We SOLD OUT</span></p>
      <p class="newsletter"><a href="http://eepurl.com/dJZMb6" target="_blank">Keep me updated about the conference!</a></p>
    </section>
    <section class="logo-image">
      {% include logo_image.svg %}
    </section>
  </div>
</header>
<main>
  <section id="speakers">
    <h1>Speakers</h1>
    <article>
      {% for speaker in site.data.speakers %}
      {% unless speaker.keynote %}
        {% continue %}
      {% endunless %}
      <div class="c-person">
        <img src="{{ speaker.image_url }}">
        {% if speaker.keynote %}
          <p class="sticker">keynote</p>
        {% endif %}
        <h3 class="name">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </h3>
        <p class="social">
          {% if speaker.twitter %}
           <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
            {% include twitter_icon.html %}
          </a>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </article>
    <article>
      {% for speaker in site.data.speakers %}
      {% if speaker.keynote %}
        {% continue %}
      {% endif %}
      <div class="c-person">
        <img src="{{ speaker.image_url }}">
        {% if speaker.keynote %}
          <p class="sticker">keynote</p>
        {% endif %}
        <h3 class="name">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </h3>
        <p class="social">
          {% if speaker.twitter %}
           <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
            {% include twitter_icon.html %}
          </a>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </article>
  </section>
  <section id="organisors">
    <div class="container">
      <div class="description">
        <h2>Meet RubyNL, the driving force behind EuRuKo 2019</h2>
        <p>
          RubyNL is a Dutch Ruby foundation led by Rayta van Rijswijk and Floor Drees.
        </p>
      </div>
    </div>
    <div class="members">
      <article class="c-person">
        <img src="/assets/images/team/rayta.jpg" />
        <h3 class="name">Rayta van Rijswijk</h3>
        <div class="social">
          <a href="https://twitter.com/raytalks" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/raytalks" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/floord.jpg" />
        <h3 class="name">Floor Drees</h3>
        <div class="social">
          <a href="https://twitter.com/floordrees" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/floord" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <h2>And the rest of the team</h2>
    </div>
    <div class="members">
      <article class="c-person">
        <img src="/assets/images/team/royt.jpg" />
        <h3 class="name">Roy Tomeij</h3>
        <div class="social">
          <a href="https://twitter.com/roy" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/roytomeij" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/tom.png" />
        <h3 class="name">Tom de Bruijn</h3>
        <div class="social">
          <a href="https://twitter.com/tombruijn" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/tombruijn" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/tonci.jpg" />
        <h3 class="name">Tonći Galić</h3>
        <div class="social">
          <a href="https://twitter.com/tuxified" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/Tuxified" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/terence.jpg" />
        <h3 class="name">Terence Lee</h3>
        <div class="social">
          <a href="https://twitter.com/hone02" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/hone" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/arno.jpg" />
        <h3 class="name">Arno Fleming</h3>
        <div class="social">
          <a href="https://github.com/arnoFleming" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
    </div>
    <div class="credits container">
      <p>Artwork by <a href="http://www.nickvisr.nl/" target="_blank">Nick Visser</a>. Implementation by <a href="https://github.com/scarhand" target="_blank">Niels van der Zanden</a>.</p>
    </div>
  </section>

  <section id="venue" class="light">
    <div class="container">
      <div class="image">
        <img src="/assets/images/ss-rotterdam.png">
      </div>
      <div class="location">
        <h2>Board the ss Rotterdam!</h2>
        <address>
          3e Katendrechtsehoofd 25,<br />
          3072AM Rotterdam
          - <a href="https://goo.gl/maps/gRYVUYBh8NEWkm8b7">Open on map</a>
        </address>
        <p>
          For this year's EuRuKo we managed to secure a unique location in Rotterdam: the ss Rotterdam. A ship with a rich history now permanently docked right in the smack center of Rotterdam.
          <!-- <a href="#">Read more</a> -->
        </p>
        <p>The event space is wheelchair accessible.</p>
        <p><a href="https://gc.synxis.com/rez.aspx?hotel=59913&start=calendar&chain=10024&locale=en-US&adult=2&_ga=2.103436297.801378335.1547729698-1483602838.1547123594" target="_blank">Book your accommodation</a> on the ship (yes, really).</p>
        <!-- <a href="#" class="button bg-red">How do I get there?</a> -->
      </div>
    </div>
  </section>

  <section id="schedule">
    <div class="container">
      <h2>Schedule</h2>
      <p>The schedule is subject to change.</p>
      <div class="days">
        <div class="day">
          <h3>Friday, June 21</h3>
          <table>
            <colgroup>
              <col class="time">
              <col class="event">
            </colgroup>
            <tbody>
              <tr>
                <td>08:30</td>
                <td>Registration</td>
              </tr>
              <tr>
                <tr>
                  <td>09:45</td>
                  <td>Welcome</td>
                </tr>
                <tr class="talk">
                  <td>10:00</td>
                  <td>Keynote: Functional (Future) Ruby - Yukihiro Matsumoto</td>
                </tr>
                <tr class="break">
                  <td>10:30</td>
                  <td>Break</td>
                </tr>
                <tr class="talk">
                  <td>10:50</td>
                  <td>From multiple apps to Monolith - #BuildingMonsterservices - Kaja Santro</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">We are currently transferring our 5 public Rails apps to 1 big monolith. All five of them are job boards with seemingly similar logic but historically grown exceptions and weird peculiarities. The perspective to have multiple data bases managed in 1 app in Rails 6 sparked our idea. The whole story!</td>
                </tr>
                <tr class="talk">
                  <td>11:20</td>
                  <td>Surrounded by Microservices - Damir Svrtan</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">How to architect an app that consumes endless data sources via various different protocols? How to support easy swapping of those data sources and how to test it with confidence? Let's checkout how these and many other requirements are fulfilled within the Netflix Studio space.</td>
                </tr>
                <tr class="break">
                  <td>11:50</td>
                  <td>Break</td>
                </tr>
                <tr class="talk">
                  <td>12:10</td>
                  <td>What causes Ruby memory bloat? - Hongli Lai</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Ruby apps can use a lot of memory. But why? I set out on a journey of discovery, and not only found evidence that defies common wisdom, but also a simple way to reduce memory usage by 70%.</td>
                </tr>
                <tr class="talk">
                  <td>12:40</td>
                  <td>It's very effective; using Pokemon to catch all code smells - Melanie Keatley</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">When learning new skills, connecting what you already know is key. Studying the most common code smells in Ruby and their fixes, exposes a pattern that is similar to how the game mechanic in the popular video game Pokemon works. Grouping certain types and finding the way to beat them.</td>
                </tr>
                <tr class="break">
                  <td>13:10</td>
                  <td>Lunch</td>
                </tr>
                <tr class="talk">
                  <td>14:30</td>
                  <td>Building bricks with MRuby: A journey to MRuby on LEGO robots - Torsten Schönebaum</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Constructing robots with LEGO is fun, programming them using Ruby even more. If you ever wanted to know how to start with MRuby on a device that can be changed into anything you can build with LEGO — this talk is for you.</td>
                </tr>
                <tr class="talk">
                  <td>15:00</td>
                  <td>A gentle introduction to Data Structure Trees - Ashley Jean</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">In this talk, we’ll dive into Data Structure Trees. We’ll talk about how to work with them and why they’re useful. Also, we’ll discuss how they’re visible in our codebase and look at some modern examples using applications and systems.</td>
                </tr>
                <tr class="break">
                  <td>15:30</td>
                  <td>Break</td>
                </tr>
                <tr>
                  <td>16:00</td>
                  <td>Closing notes</td>
                </tr>
                <tr class="talk">
                  <td>16:15</td>
                  <td>Closing keynote: The Miseducation of This Machine - Laura Linda Laugwitz</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">While machines continue to learn with more sophisticated algorithms and larger amounts of data, humans need to understand how such learning works in order to take its results with the proper grain of salt. Let's make ML tangible and thus help you become a better machine teacher!</td>
                </tr>
                <tr>
                  <td>20:00</td>
                  <td>Party (ends at midnight)</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="day">
            <h3>Saturday, June 22</h3>
            <table>
              <colgroup>
                <col class="time">
                <col class="event">
                <col class="end">
              </colgroup>
              <tbody>
                <tr class="talk">
                  <td>10:30</td>
                  <td>Keynote: Yes, I Test In Production... And So Should You - Charity Majors</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Testing in prod has gotten a bad rap. It's both inevitable - you can't know everything before you ship - and desirable. In modern complex systems, failure is a constant and the only guiding principle is that "users should never notice". So how do you test safely in prod, and how should you allocate your scarce engineering cycles between prod and staging?</td>
                </tr>
                <tr class="talk">
                  <td>11:00</td>
                  <td>How We’re Making Tech Documentation Better, Easier, And Less Boring - Bilawal Maheed</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Engineers optimize for scale. We think about writing the “best” code, designing non-flaky tests to give us confidence, and adopting the latest and greatest - but why do we still fail to write, maintain, and improve our docs? Given we all rely on docs, what went wrong?</td>
                </tr>
                <tr class="break">
                  <td>11:30</td>
                  <td>Break</td>
                </tr>
                <tr class="talk">
                  <td>11:50</td>
                  <td>A Plan towards Ruby 3 Types - Yusuke Endoh</td>
                </tr>
                <tr class="talk">
                  <td>12:20</td>
                  <td>Lightning Talks</td>
                </tr>
                <tr class="break">
                  <td>12:50</td>
                  <td>Lunch</td>
                </tr>
                <tr class="talk">
                  <td>14:10</td>
                  <td>The musical Ruby - Jan Krutisch</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Let’s make some music with Ruby. After cheating a bit with the amazing SonicPi, we’ll drop down to the foundations - While explaining the basics of digital sound synthesis and a tiny bit of music theory, we’ll create a tune to dance to using nothing but pure Ruby.</td>
                </tr>
                <tr>
                  <td>14:40</td>
                  <td>City pitch</td>
                </tr>
                <tr class="break">
                  <td>15:00</td>
                  <td>Break</td>
                </tr>
                <tr class="talk">
                  <td>15:20</td>
                  <td>Steal this talk - Aaron Cruz</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">It’s been a long journey building “Talkie”, but in the process I’ve consumed 100’s of Ruby talks from over the last years and I want to boil them down to the best things I can fit into this time slot. This talk is like a listicle of listicles, a best of Ruby talks. Like if you soaked up all the Ruby talks, cooked them down into a thick paste and then smeared it all over the EuRuKo stage.</td>
                </tr>
                <tr class="talk">
                  <td>15:50</td>
                  <td>The Life-Changing Magic of Tidying Active Record Allocations - Richard Schneeman</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">Your app is slow. It does not spark joy. In this talk, we will use memory profiling tools to discover performance hotspots. We will use this technique with a real-world application to identify a piece of optimizable code in Active Record that leads to a patch with substantial page speed impact.</td>
                </tr>
                <tr>
                  <td>16:20</td>
                  <td>Break</td>
                </tr>
                <tr class="talk">
                  <td>16:40</td>
                  <td>Closing keynote: The Past, Present, and Future of Rails at GitHub - Eileen M. Uchitelle</td>
                </tr>
                <tr>
                  <td colspan="2" class="talk-description">We'll look at GitHub's story, our Rails upgrade, and how cumulative technical debt can stifle development. At the end we'll explore how we're staying up to date with Rails and our investment in the future of Rails.</td>
                </tr>
                <tr>
                  <td>17:10</td>
                  <td>Closing notes (+city reveal)</td>
                </tr>
                <tr>
                  <td>17:20</td>
                  <td>Conference end</td>
                </tr>
                <tr>
                  <td>20:00</td>
                  <td>#RubyKaraoke</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

    <section id="sponsors" class="light">
      <div class="container">
        <h2>EuRuKo 2019 is kept afloat by these great companies</h2>
        <p>
          Please <a href="mailto:rayta@euruko.org">contact us</a> about sponsoring.
          Or <a href="/sponsoring/">check out</a> our sponsoring packages!
      </p>

      {% include sponsors.html %}
    </div>
  </section>

  <section id="code-of-conduct">
    <div class="container">
      <h2>Code of Conduct</h2>
      <p>
        In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
      </p>
      <p>
        <a href="/code-of-conduct/" class="button bg-red">Read our Code of Conduct</a>
      </p>
    </div>
  </section>

  <section id="railsgirls">
    <div class="container">
      <h2><img src="/assets/images/railsgirls.svg" /> RailsGirls Rotterdam 2019</h2>
      <p>
        One day prior to the conference, we throw a free workshop at the <a href="https://www.beequip.nl" target="_blank">BEEQUIP</a> office in Rotterdam. Dive into the magical world of web development, at <a href="http://railsgirls.com/rotterdam19.html" target="_blank">Rails Girls Rotterdam</a>, June 20, 2019.
      </p>
    </div>
  </section>
</main>
