---
layout: default
id: index-page
title: EuRuKo'19, June 21st - 22nd 2019, Rotterdam
---
<header class="full-width intro">
  <div class="container">
    <section class="info">
      <h2 class="uppercase">June 21st - 22nd, 2019</h2>
      <h1>EuRuKo'19</h1>
      <p>The annual European Ruby conference will dock in Rotterdam!</p>
      <hr>
      <p><span class="button bg-red">We SOLD OUT</span></p>
    </section>
    <section class="logo-image">
      {% include logo_image.svg %}
    </section>
  </div>
</header>
<main>
  <section id="speakers">
    <h1>Speakers</h1>
    <article>
      {% for speaker in site.data.speakers %}
      {% unless speaker.keynote %}
        {% continue %}
      {% endunless %}
      <div class="c-person">
        <img src="{{ speaker.image_url }}">
        {% if speaker.keynote %}
          <p class="sticker">keynote</p>
        {% endif %}
        <h3 class="name">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </h3>
        <p class="social">
          {% if speaker.twitter %}
           <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
            {% include twitter_icon.html %}
          </a>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </article>
    <article>
      {% for speaker in site.data.speakers %}
      {% if speaker.keynote %}
        {% continue %}
      {% endif %}
      <div class="c-person">
        <img src="{{ speaker.image_url }}">
        {% if speaker.keynote %}
          <p class="sticker">keynote</p>
        {% endif %}
        <h3 class="name">
          {{ speaker.first_name }} {{ speaker.last_name }}
        </h3>
        <p class="social">
          {% if speaker.twitter %}
           <a href="https://twitter.com/{{ speaker.twitter }}" target="_blank">
            {% include twitter_icon.html %}
          </a>
          {% endif %}
        </p>
      </div>
      {% endfor %}
    </article>
  </section>
  <section id="organisors">
    <div class="container">
      <div class="description">
        <h2>Meet RubyNL, the driving force behind EuRuKo 2019</h2>
        <p>
          RubyNL is a Dutch Ruby foundation led by Rayta van Rijswijk and Floor Drees.
        </p>
      </div>
    </div>
    <div class="members">
      <article class="c-person">
        <img src="/assets/images/team/rayta.jpg" />
        <h3 class="name">Rayta van Rijswijk</h3>
        <div class="social">
          <a href="https://twitter.com/raytalks" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/raytalks" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/floord.jpg" />
        <h3 class="name">Floor Drees</h3>
        <div class="social">
          <a href="https://twitter.com/floordrees" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/floord" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
    </div>
  </section>

  <section id="team">
    <div class="container">
      <h2>And the rest of the team</h2>
    </div>
    <div class="members">
      <article class="c-person">
        <img src="/assets/images/team/royt.jpg" />
        <h3 class="name">Roy Tomeij</h3>
        <div class="social">
          <a href="https://twitter.com/roy" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/roytomeij" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/tom.png" />
        <h3 class="name">Tom de Bruijn</h3>
        <div class="social">
          <a href="https://twitter.com/tombruijn" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/tombruijn" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/tonci.jpg" />
        <h3 class="name">Tonći Galić</h3>
        <div class="social">
          <a href="https://twitter.com/tuxified" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/Tuxified" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/terence.jpg" />
        <h3 class="name">Terence Lee</h3>
        <div class="social">
          <a href="https://twitter.com/hone02" target="_blank">
            {% include twitter_icon.html %}
          </a>
          <a href="https://github.com/hone" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <article class="c-person">
        <img src="/assets/images/team/arno.jpg" />
        <h3 class="name">Arno Fleming</h3>
        <div class="social">
          <a href="https://github.com/arnoFleming" target="_blank">
            {% include github_icon.html %}
          </a>
        </div>
      </article>
      <div class="credits container">
        <p>Artwork by <a href="http://www.nickvisr.nl/" target="_blank">Nick Visser</a>. Implementation by <a href="https://github.com/scarhand" target="_blank">Niels van der Zanden</a>.</p>
      </div>
    </div>
  </section>

  <section id="venue" class="light">
    <div class="container">
      <div class="image">
        <img src="/assets/images/ss-rotterdam.png">
      </div>
      <div class="location">
        <h2>Board the SS Rotterdam!</h2>
        <address>
          3e Katendrechtsehoofd 25,<br />
          3072AM Rotterdam
        </address>
        <p class="description">
          For this year's EuRuKo we have managed to secure a location so uniquely Rotterdam, it's crazy! Namely the ss Rotterdam. A ship with a rich history now permanently docked right in the smack center of Rotterdam.
          <!-- <a href="#">Read more</a> -->
        </p><p><a href="https://gc.synxis.com/rez.aspx?hotel=59913&start=calendar&chain=10024&locale=en-US&adult=2&_ga=2.103436297.801378335.1547729698-1483602838.1547123594" target="_blank">Book your accommodation</a> on the ship (yes, really).</p>
        <!-- <a href="#" class="button bg-red">How do I get there?</a> -->
      </div>
    </div>
  </section>

  <section id="schedule">
    <div class="container">
      <h2>Program</h2>
      <p>The schedule is subject to change.</p>
      <div class="days">
        <div class="day">
          <h2>Friday, June 21</h2>
          <table>
            <colgroup>
              <col class="time">
              <col class="event">
            </colgroup>
            <tbody>
              <tr>
                <td>10:00</td>
                <td>Keynote: Yukihiro Matsumoto</td>
              </tr>
              <tr class="break">
                <td>10:30</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>10:50</td>
                <td>From multiple apps to Monolith - #BuildingMonsterservices - Kaja Santro</td>
              </tr>
              <tr>
                <td>11:20</td>
                <td>Surrounded by Microservices - Damir Svrtan</td>
              </tr>
              <tr class="break">
                <td>11:50</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>12:10</td>
                <td>How we made internal technical documentation easy - Bilawal Maheed</td>
              </tr>
              <tr>
                <td>12:40</td>
                <td>It's very effective; using Pokemon to catch all code smells - Melanie Keatley</td>
              </tr>
              <tr class="break">
                <td>13:10</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>14:30</td>
                <td>Building bricks with MRuby: A journey to MRuby on LEGO robots - Torsten Schönebaum</td>
              </tr>
              <tr>
                <td>15:00</td>
                <td>A gentle introduction to Data Structure Trees - Ashley Jean</td>
              </tr>
              <tr class="break">
                <td>15:30</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>16:00</td>
                <td>Closing notes</td>
              </tr>
              <tr>
                <td>16:15</td>
                <td>Closing keynote: Laura Linda Laugwitz</td>
              </tr>
              <tr>
                <td>20:00</td>
                <td>Party (ends at midnight)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="day">
          <h2>Saturday, June 22</h2>
          <table>
            <colgroup>
              <col class="time">
              <col class="event">
              <col class="end">
            </colgroup>
            <tbody>
              <tr>
                <td>10:30</td>
                <td>Keynote: Charity Majors</td>
              </tr>
              <tr class="break">
                <td>11:00</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>11:20</td>
                <td>The GC is innocent! Here's the REAL culprit! - Hongli Lai</td>
              </tr>
              <tr>
                <td>11:50</td>
                <td>The life-changing magic of tidying Active Record allocations - Richard Schneeman</td>
              </tr>
              <tr class="break">
                <td>12:20</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>12:40</td>
                <td>Lightning Talks</td>
              </tr>
              <tr>
                <td>13:10</td>
                <td>Lunch</td>
              </tr>
              <tr>
                <td>13:30</td>
                <td>City pitch</td>
              </tr>
              <tr>
                <td>14:30</td>
                <td>Steal this talk - Aaron Cruz</td>
              </tr>
              <tr>
                <td>15:00</td>
                <td>The musical Ruby - Jan Krutisch</td>
              </tr>
              <tr class="break">
                <td>15:30</td>
                <td>Break</td>
              </tr>
              <tr>
                <td>15:50</td>
                <td>Closing keynote: Eileen M. Uchitelle</td>
              </tr>
              <tr>
                <td>16:20</td>
                <td>Closing notes (+city reveal)</td>
              </tr>
              <tr>
                <td>16:40</td>
                <td>Conference end</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="sponsors" class="light">
    <div class="container">
      <h2>EuRuKo 2019 is kept afloat by these great companies</h2>
      <p>
        Please <a href="mailto:rayta@euruko.org">contact us</a> about sponsoring.
        Or <a href="/sponsoring/">check out</a> our sponsoring packages!
      </p>

      {% include sponsors.html %}
    </div>
  </section>

  <!-- <section id="sponsor-booth" class="full-width">
    <div class="container">
      <h1>Startup Contest - Win a booth!</h1>
      <p>
        We understand that not every team can afford a sponsorship package, but do want to get their name out there. That’s why we’re giving away 1 booth spot, to the startup that comes up with the best idea in our <strong>Icebreaker Contest</strong>.
      </p>
      <p>
        People come to EuRuKo to connect with other Rubyists. We’re looking for solutions to help them reach that goal. We’re not saying app (but maybe we are). We <strong>are</strong> saying Ruby. Help EuRuKo attendees expand their circle, and promote alongside the big players!
      </p>
      <div class="post-link">
        <p>Post a your idea (or a demonstration) of your solution to the EuRuKo repository.</p>
        <p>Read more about <a href="https://github.com/euruko/euruko2019.github.io/issues/9">the contest and its rules</a>.</p>

        <a href="https://github.com/euruko/euruko2019.github.io/issues/new" target="_blank" class="button bg-red outline proposal">Post your idea</a>
        <p>Contest closes Friday May 3rd, 12PM CET</p>
      </div>
    </div>
  </section>-->

  <section id="code-of-conduct">
    <div class="container">
      <h2>Code of Conduct</h2>
      <p>
        In the interest of fostering an open and welcoming environment, we as contributors and maintainers pledge to making participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, sex characteristics, gender identity and expression, level of experience, education, socio-economic status, nationality, personal appearance, race, religion, or sexual identity and orientation.
      </p>
      <p>The event space is (wheelchair) accessible.</p>
      <p>
        We adhere to the <a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct" target="_blank">Contributor Convenant</a>.
        <!-- Don’t hesitate to reach out when you notice anything that goes against the spirit of our Code of Conduct:<br />
        <a href="mailto:floor@euruko.org" class="contact">floor@euruko.org</a> or: <a href="mailto:rayta@euruko.org" class="contact">rayta@euruko.org</a> -->
      </p>
    </div>
  </section>

  <section id="railsgirls">
    <div class="container">
      <h2><img src="/assets/images/railsgirls.svg" /> RailsGirls Rotterdam 2019</h2>
      <p>
        One day prior to the conference, we throw a free workshop at the <a href="https://www.beequip.nl" target="_blank">BEEQUIP</a> office in Rotterdam. Dive into the magical world of web development, at <a href="http://railsgirls.com/rotterdam19.html" target="_blank">Rails Girls Rotterdam</a>, June 20, 2019.
      </p>
    </div>
  </section>
</main>
