---
layout: default
title: Sponsoring
id: sponsoring-page
permalink: /sponsoring/
---

{% include small-header.html %}
<main>
  <section id="become-sponsor">
    <div class="container">
      <h1>Become a Sponsor</h1>
      <p>
        EuRuKo is the annual European conference that brings all the good news about Ruby and its friends. Every year it takes place in a different European city, the location being chosen by the participants.
        As a sponsor you get the opportunity to reach an international crowd of talented developers. It is EuRuKo's tradition to offer tickets at a low price in order to offer everyone the possibility to attend. Therefore we rely on our sponsors to help us make this event an unforgettable experience for everyone involved. Review our packages and learn how your company can benefit from sponsoring the event.
      </p>
      <a class="button bg-red" href="mailto:rayta@euruko.org?subject=Yes, I've got money to burn">YES, allow me to give you all my moniez!</a>
      <h2>About the Conference</h2>
      <ul>
        <li>450 participants from all over Europe (and not only)</li>
        <li>2 days, single track conference</li>
        <li>Evening party for all attendees</li>
        <li>Influential speakers from the Ruby community</li>
        <li>Social media coverage</li>
        <li>Video recordings of all talks</li>
        <li>Professional photography</li>
      </ul>
      <h2>Why else aside from the package contents should you sponsor?</h2>
      <p>
        Are you looking to hire Ruby (and not just Ruby!) developers in your company or initiative? Then you've probably looked into hiring a headhunter to find you the talent that you need. And you saw how much it costs. Most headhunters are looking for half a years' salary!
        By sponsoring EuRuKo, you're not only investing a fraction of the price of a headhunter, but you're getting to meet enthusiastic developers in the flesh, and by the numbers!
        The above goes without saying how you'd contribute to a lively Ruby community from around Europe (and the world)!
      </p>
    </div>
  </section>
  <section id="packages">
    <div class="container">
      <h1>Sponsoring Packages</h1>
      <p>
        <table class="table bordered striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th class="center">Bronze</th>
              <th class="center">Silver</th>
              <th class="center">Gold</th>
              <th class="center">Platinum</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>Price</td>
              <td class="center">&euro;2,000</td>
              <td class="center">&euro;5,000</td>
              <td class="center">&euro;8,000</td>
              <td class="center">&euro;12,000</td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <td>Included tickets</td>
              <td class="center">1</td>
              <td class="center">2</td>
              <td class="center">4</td>
              <td class="center">6</td>
            </tr>
            <tr>
              <td>Exhibit Space</td>
              <td class="center">❌</td>
              <td class="center">1 table</td>
              <td class="center">2x2 meters</td>
              <td class="center">3x3 meters</td>
            </tr>
            <tr>
              <td>Roll-up banner in sponsors hall</td>
              <td class="center">+&euro;1000</td>
              <td class="center">1</td>
              <td class="center">3</td>
              <td class="center">unlimited</td>
            </tr>
            <tr>
              <td>Roll-up banner near the main stage</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Goodie bag inserts</td>
              <td class="center">❌</td>
              <td class="center">1 (small)</td>
              <td class="center">2 (small, medium)</td>
              <td class="center">3 (small - large)</td>
            </tr>
            <tr>
              <td>Dedicated slide during conference breaks</td>
              <td class="center">❌</td>
              <td class="center">+&euro;1000</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Company logo on the screens before the talks</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">before every presentation</td>
            </tr>
            <tr>
              <td>Company logo in the conference booklet</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Dedicated page in the conference booklet</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">half page</td>
              <td class="center">full page</td>
            </tr>
            <tr>
              <td>Logo on home page</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Company description on home page</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Link included in the footer of all conference emails</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Twitter promotion (from <a href="https://twitter.com/euruko" target="_blank">@euruko</a>)</td>
              <td class="center">shared tweet</td>
              <td class="center">shared tweet</td>
              <td class="center">1 dedicated tweet</td>
              <td class="center">3 dedicated tweets</td>
            </tr>
            <tr>
              <td>Facebook promotion</td>
              <td class="center">shared post</td>
              <td class="center">shared post</td>
              <td class="center">1 dedicated post</td>
              <td class="center">3 dedicated posts</td>
            </tr>
            <tr>
              <td>Logo on the Facebook page</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Job ads on the conference website</td>
              <td class="center">+&euro;1000 (1 job, 200 characters)</td>
              <td class="center">1 job, 200 characters</td>
              <td class="center">3 jobs, 200 characters</td>
              <td class="center">5 jobs, unlimited</td>
            </tr>
            <tr>
              <td>Logo on sponsors slide in post-conference videos of the talks</td>
              <td class="center">❌</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Logo included in the footer of all conference emails</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">❌</td>
              <td class="center">✔️</td>
            </tr>
            <tr>
              <td>Mention in "Thank you" blog post</td>
              <td class="center">shared post</td>
              <td class="center">shared post</td>
              <td class="center">1 dedicated post</td>
              <td class="center">2 dedicated posts</td>
            </tr>
          </tbody>
        </table>
      </p>
      <p>
        <small>VAT is not included. Equipment & banners will be provided by the sponsors.</small>
      </p>
    </div>
  </section>

  <section id="sponsors">
    <div class="container">
      <h1>EuRuKo 2019 is kept afloat by these great companies</h1>
      <p></p>
      {% include sponsors.html %}

    </div>
  </section>
</main>
