<nav>
  <div class="container">
    <input type="checkbox" id="nav-toggle"/>
    <label for="nav-toggle"></label>
    <ul class="navigation">
      <li class="logo"><a href="/"><img src="/assets/images/logo.png"></a></li>
      <li class="home"><a href="/">Home</a></li>
      <li><a href="/#speakers">Speakers</a></li>
      <li><a href="/#team">Team</a></li>
      <li><a href="/#venue">Venue</a></li>
      <li><a href="/#sponsors">Sponsors</a></li>
      <li><a href="/#code-of-conduct">Code of Conduct</a></li>
    </ul>
  </div>
</nav>
