<header class="full-width sponsoring">
  <div class="container">
    <section class="info wide">
      <img src="/assets/images/logo_clean.svg">
      <h2 class="uppercase">Shine at our conference.</h2>
      <h1>Become a sponsor.</h1>
      <p>EuRuKo is the annual European conference that brings all the good news about Ruby and its friends. Every year it takes place in a different European city, the location being chosen by the participants.</p>
      <p>As a sponsor you get the opportunity to reach an international crowd of talented developers. Review our packages and learn how your company can benefit from sponsoring the event.</p>
      <a class="button bg-red" href="mailto:rayta@euruko.org?subject=Yes, tell me more about sponsoring">Yes, tell me more about sponsoring!</a>

    </section>
  </div>
</header>
