<article class="sponsor-container platinum">
  <div class="head">
    <hr />
    <p>Platinum Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor">
      <a href="https://github.com" target="_blank">
        <img src="/assets/images/sponsors/github-logo.png">
      </a>
      <p>
        GitHub brings together the world's largest community of developers to discover, share, and build better software.
      </p>
    </div>
    <div class="sponsor">
      <a href="https://appsignal.com" target="_blank">
        <img src="/assets/images/sponsors/appsignal-logo.png">
        <p>
          AppSignal gives you error tracking, performance monitoring, host metrics and anomaly detection in one great interface.
        </p>
      </a>
    </div>
  </div>
</article>
<div class="sponsor-container silver">
  <div class="head">
    <hr />
    <p>Silver Sponsors</p>
    <hr />
  </div>
  <div class="items">
      <div class="sponsor">
        <a href="https://stripe.com/jobs" target="_blank">
          <img src="/assets/images/sponsors/stripe-logo.svg">
        </a>
      </div>
    <div class="sponsor">
      <a href="https://phusion.nl" target="_blank">
        <img src="/assets/images/sponsors/phusion-logo.svg">
      </a>
    </div>
  </div>
</div>
<div class="sponsor-container gold">
  <div class="head">
    <hr />
    <p>Gold Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <!--<div class="sponsor">
      <a href="https://www.youngcapital.nl/" target="_blank">
        <img src="/assets/images/sponsors/youngcapital-logo.svg">
      </a>
    </div>-->
  </div>
</div>
<div class="sponsor-container bronze">
  <div class="head">
    <hr />
    <p>Bronze Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor">
      <a href="https://www.salonized.com/en" target="_blank">
        <img src="/assets/images/sponsors/salonized-logo.svg">
      </a>
    </div>
    <div class="sponsor">
      <a href="https://www.supersaas.com/" target="_blank">
        <img src="/assets/images/sponsors/supersaas_logo.png">
      </a>
    </div>
  </div>
</div>
<div class="sponsor-container community">
  <div class="head">
    <hr />
    <p>Community Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor">
      <a href="https://papercall.io" target="_blank">
        <img src="/assets/images/sponsors/papercall-logo.svg">
      </a>
    </div>
    <div class="sponsor">
      <a href="https://www.beequip.nl" target="_blank">
        <img src="/assets/images/sponsors/beequip-logo.svg">
      </a>
    </div>
  </div>
</div>
<div class="diversity">
  <h3>Contribute to a diverse EuRuKo!</h3>
  <p>
    EuRuKo wants to be an inclusive conference. That's why we have a Diversity Ticket Programme aimed at members of underrepresented groups in tech — this includes, but is not limited to: people of colour, LGBTQIA+ people, women, disabled people.
  </p>
  <p>
    As a Diversity Sponsor you make it possible for one or more eligible candidates to attend the conference by sponsoring their ticket and, optionally, their travel and accommodation. Please <a href="mailto:rayta@euruko.org">contact us</a> if you're interested or want to learn more.
  </p>
</div>
