<article class="sponsor-container platinum">
  <h3>Platinum Sponsors</h3>
  <div class="items">
    <div class="sponsor with-spacing">
      <a href="https://github.com" target="_blank" class="logo">
        <figure><img src="/assets/images/sponsors/github-logo.png" /></figure>
      </a>
      <p>
        GitHub brings together the world's largest community of developers to discover, share, and build better software.
      </p>
    </div>
    <div class="sponsor with-spacing sponsor-appsignal">
      <a href="https://appsignal.com" target="_blank" class="logo">
        <figure><img src="/assets/images/sponsors/appsignal-logo.png" /></figure>
      </a>
      <p>
        AppSignal gives you error tracking, performance monitoring, host metrics and anomaly detection in one great interface.
      </p>
    </div>
    <div class="sponsor with-spacing">
      <a href="https://ioki.com/" target="_blank" class="logo">
        <figure><img src="/assets/images/sponsors/ioki-logo.png" /></figure>
      </a>
      <p>
        Making flexible mobility accessible to everyone – at any time: in the city, in the countryside, even without owning a car.
      </p>
    </div>
  </div>
</article>
<!--
<div class="sponsor-container gold">
  <div class="head">
    <hr />
    <p>Gold Sponsors</p>
    <hr />
  </div>
  <div class="items">
  </div>
</div>
-->
<div class="sponsor-container silver">
  <h3>Silver Sponsors</h3>
  <div class="items">
      <a href="https://stripe.com/jobs" target="_blank" class="logo sponsor" ontouchstart="javascript: void;" onmouseover="javascript: void;">
        <span class="diversity" tooltip="Diversity sponsor"><span>❤️</span></span>
        <figure><img src="/assets/images/sponsors/stripe-logo.svg" /></figure>
      </a>
      <a href="https://phusion.nl" target="_blank" class="logo sponsor with-spacing sponsor-phusion">
        <figure><img src="/assets/images/sponsors/phusion-logo.svg" /></figure>
      </a>
      <a href="https://invoicefinance.recruitee.com" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/invoicefinance-logo.svg" /></figure>
      </a>
      <a href="https://www.youngcapital.dev" target="_blank" class="logo sponsor with-spacing sponsor-youngcapital">
        <figure><img src="/assets/images/sponsors/youngcapital-logo.png" /></figure>
      </a>
      <a href="https://www.catawiki.com/" target="_blank" class="logo sponsor with-spacing sponsor-catawiki">
        <figure><img src="/assets/images/sponsors/catawiki-logo.png" /></figure>
      </a>
      <a href="https://www.wetransfer.com/" target="_blank" class="logo sponsor sponsor-wetransfer" ontouchstart="javascript: void;" onmouseover="javascript: void;">
        <span class="diversity" tooltip="Diversity sponsor"><span>❤️</span></span>
        <figure><img src="/assets/images/sponsors/wetransfer-logo.png" /></figure>
      </a>
      <a href="https://developer.nexmo.com/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/nexmo-logo.jpg" /></figure>
      </a>
      <a href="https://www.adcombi.com/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/adcombi-logo.png" /></figure>
      </a>
  </div>
</div>
<div class="sponsor-container bronze">
  <h3>Bronze Sponsors</h3>
  <div class="items">
      <a href="https://www.salonized.com/en" target="_blank" class="logo sponsor with-spacing sponsor-salonized">
        <figure><img src="/assets/images/sponsors/salonized-logo.svg" /></figure>
      </a>
      <a href="https://www.supersaas.com/" target="_blank" class="logo sponsor">
        <figure><img src="/assets/images/sponsors/supersaas-logo.png" /></figure>
      </a>
      <a href="https://www.taktsoft.com/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/taktsoft-logo.png" /></figure>
      </a>
      <a href="https://balsamiq.com/" target="_blank" class="logo sponsor with-spacing sponsor-balsamiq">
        <figure><img src="/assets/images/sponsors/balsamiq-logo.svg" /></figure>
      </a>
      <a href="https://www.talent.io/" target="_blank" class="logo sponsor with-spacing sponsor-talent">
        <figure><img src="/assets/images/sponsors/talent-logo.png" /></figure>
      </a>
      <a href="https://gitlab.com/" target="_blank" class="logo sponsor sponsor-gitlab">
        <figure><img src="/assets/images/sponsors/gitlab-logo.svg" /></figure>
      </a>
      <a href="https://www.beequip.nl" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/beequip-logo.svg" /></figure>
      </a>
      <a href="https://buildkite.com/" target="_blank" class="logo sponsor sponsor-buildkite with-spacing">
        <figure><img src="/assets/images/sponsors/buildkite-logo.svg" /></figure>
      </a>
      <a href="https://bitcrowd.net/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/bitcrowd-logo.svg" /></figure>
      </a>
      <a href="https://airbrake.io/" target="_blank" class="logo sponsor">
        <figure><img src="/assets/images/sponsors/airbrake-logo.svg" /></figure>
      </a>
  </div>
</div>
<div class="sponsor-container community">
  <h3>Community Sponsors</h3>
  <div class="items">
      <a href="https://papercall.io" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/papercall-logo.svg" /></figure>
      </a>
      <a href="https://www.oreilly.com/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/oreilly-logo.svg" /></figure>
      </a>
      <a href="https://honeycomb.io/" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/honeycomb-logo.svg" /></figure>
      </a>
      <a href="https://www.stickermule.com/eu/uses/laptop-stickers?utm_source=sponsorship&utm_medium=referral&utm_campaign=Euruko19" target="_blank" class="logo sponsor sponsor-stickermule">
        <figure><img src="/assets/images/sponsors/stickermule-logo.png" /></figure>
      </a>
      <a href="https://cookpad.com/us/" target="_blank" class="logo sponsor">
        <figure><img src="/assets/images/sponsors/cookpad.svg" /></figure>
      </a>
      <a href="https://depfu.com/euruko" target="_blank" class="logo sponsor with-spacing">
        <figure><img src="/assets/images/sponsors/depfu-left-blue.svg" /></figure>
      </a>
  </div>
</div>
<div class="diversity-sponsors">
  <h2>Contribute to a diverse EuRuKo!</h2>
  <p>
    EuRuKo wants to be an inclusive conference. That's why we have a Diversity Ticket program aimed at members of underrepresented groups in tech — this includes, but is not limited to: people of colour, LGBTQIA+ people, women, disabled people.
  </p>
  <p>
    As a Diversity Sponsor you make it possible for one or more eligible candidates to attend the conference by sponsoring their ticket and, optionally, their travel and accommodation. Diversity sponsors are recognizable by ❤️ icon in the <a href="#sponsors">sponsors list</a>.
    The deadline for Diversity tickets has expired and tickets have already been divided.
  </p>
</div>
