<article class="sponsor-container platinum">
  <div class="head">
    <hr />
    <p>Platinum Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor with-spacing sponsor-github">
      <a href="https://github.com" target="_blank"></a>
      <p>
        GitHub brings together the world's largest community of developers to discover, share, and build better software.
      </p>
    </div>
    <div class="sponsor sponsor-appsignal">
      <a href="https://appsignal.com" target="_blank"></a>
      <p>
        AppSignal gives you error tracking, performance monitoring, host metrics and anomaly detection in one great interface.
      </p>
    </div>
    <div class="sponsor sponsor-ioki">
      <a href="https://ioki.com/" target="_blank"></a>
      <p>
        Making flexible mobility accessible to everyone – at any time: in the city, in the countryside, even without owning a car.
      </p>
    </div>
  </div>
</article>
<!--
<div class="sponsor-container gold">
  <div class="head">
    <hr />
    <p>Gold Sponsors</p>
    <hr />
  </div>
  <div class="items">
  </div>
</div>
-->
<div class="sponsor-container silver">
  <div class="head">
    <hr />
    <p>Silver Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor with-spacing sponsor-stripe">
      <a href="https://stripe.com/jobs" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-phusion">
      <a href="https://phusion.nl" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-invoicefinance">
      <a href="https://invoicefinance.recruitee.com" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-youngcapital">
      <a href="https://www.youngcapital.nl/" target="_blank"></a>
    </div>
  </div>
</div>
<div class="sponsor-container bronze">
  <div class="head">
    <hr />
    <p>Bronze Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor sponsor-salonized">
      <a href="https://www.salonized.com/en" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-supersaas with-spacing">
      <a href="https://www.supersaas.com/" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-taktsoft">
      <a href="https://www.taktsoft.com/" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-balsamiq">
      <a href="https://balsamiq.com/" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-talent">
      <a href="https://www.talent.io/" target="_blank"></a>
    </div>
  </div>
</div>
<div class="sponsor-container community">
  <div class="head">
    <hr />
    <p>Community Sponsors</p>
    <hr />
  </div>
  <div class="items">
    <div class="sponsor sponsor-papercall">
      <a href="https://papercall.io" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-beequip">
      <a href="https://www.beequip.nl" target="_blank"></a>
    </div>
    <div class="sponsor sponsor-oreilly">
      <a href="https://www.oreilly.com/" target="_blank"></a>
    </div>
  </div>
</div>
<div class="diversity-sponsors">
  <h3>Contribute to a diverse EuRuKo!</h3>
  <p>
    EuRuKo wants to be an inclusive conference. That's why we have a Diversity Ticket Programme aimed at members of underrepresented groups in tech — this includes, but is not limited to: people of colour, LGBTQIA+ people, women, disabled people.
  </p>
  <p>
    As a Diversity Sponsor you make it possible for one or more eligible candidates to attend the conference by sponsoring their ticket and, optionally, their travel and accommodation. Please <a href="mailto:rayta@euruko.org">contact us</a> if you're interested or want to learn more.
  </p>
</div>
