@import url('https://rsms.me/inter/inter-ui.css');
@import "normalize.scss";
@import "variables.scss";
@import "animations.scss";
@import "button.scss";
@import "table.scss";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
}
body > nav,
body > section,
body > footer,
.full-width {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: $twelve-col;
  display: flex;
  flex-direction: column;
  @media(max-width: $medium-device) {
    padding: 0 20px;
  }
}

a {
  color: $link-color;
}
// Global typography
@import "typography.scss";

// Global components
@import "navigation.scss";
@import "footer.scss";
@import "header.scss";

// Components
@import "c-person.scss";
@import "page-content.scss";

// Homepage sections
@import "index.scss";
@import "speakers.scss";
@import "people.scss";
@import "venue.scss";
@import "schedule.scss";
@import "sponsors.scss";
@import "sponsor-booth.scss";
@import "code-of-conduct.scss";
@import "railsgirls.scss";

// seperate pages
@import "sponsoring.scss";
