footer {
  margin-top: 120px;
  height: 120px;
  color: $grey-text;
  border-top: solid 1px rgba(136,166,200,0.43);
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      margin-right: 10px;
      img{
        height: 24px;
      }
    }
    p {
      flex: 1;
    }
    .social {
      a {
        img {
          height: 40px;
        }
      }
    }
  }
  @media(max-width: $medium-device) {
    .container {
      p {
        text-align: center;
      }
    }
  }
}
