footer {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  p {
    margin: 0 20px;
    text-align: center;
  }

  .logo {
    margin-right: 10px;

    img {
      height: 24px;
    }

  }
  .social {
    a {
      padding: 10px;
    }
    svg {
      width: 24px;
      height: 20px;
      fill: #1DA1F2;
    }
  }
}
