header {
  position: relative;
  padding: 170px 0 100px 0;
  background: linear-gradient(mix(#fff,#fdd7a2),#fdd7a2);

  @media (max-width: $nav-collapse-threshold) {
    padding-top: 80px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .info {
    flex: 1;
    padding: 40px 0;
  }

  h1 {
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 10px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  hr {
    height: 1px;
    background: rgba($darker-text,0.2);
    border: 0;
    margin: 20px 0;
    width: 100%;
  }

  p {
    font-size: 20px;
    margin: 0 0 20px 0;
    max-width: 20em;
  }

  .newsletter {
    font-size: 16px;
  }

  &.sponsoring {
    text-align: center;

    img {
      width: 200px;
      margin-bottom: 40px;
    }

    p {
      max-width: 40em;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .logo-image {
    text-align: center;
    position: relative;
    flex: 1;

    @media (max-width: $nav-collapse-threshold) {
      svg {
        max-width: 330px;
      }
    }

    #cloud-1, #cloud-2, #cloud-3 {
      animation: float 15s ease-in-out infinite;
    }
    #love {
      transform: scale(.85) translate(31px, 470px);
    }
  }
  @media(max-width: $medium-device) {
    .container {
      flex-direction: column;
    }
    .info {
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      a.button {
        max-width: none;
        width: auto;
      }
    }
    .logo-image {
      margin-top: 40px;
    }
  }
}
