#index-page {
  header {
    position: relative;
    min-height: 1200px;
    padding: 110px 0 60px 0;
    background: #7B9196;
    background-image: url(/assets/images/header.png);
    background-size: cover;
    background-position-y: center;
    background-repeat: no-repeat;
    border-bottom: solid 1px rgba(136,166,200,0.43);

    > .overlay1 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      position: absolute;
      background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(216,216,216,0.00) 100%);
    }
    > .overlay2 {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      left: 0;
      top: 0;
      position: absolute;
      opacity: 0.65;
      background-image: linear-gradient(-143deg, #9FBAF2 1%, #58D7F5 100%);
    }
    .container {
      margin-top: 70px;
      #info {
        position: relative;
        max-width: $six-col;
        h1, h2, p {
          color: $light-text;
          font-weight: normal;
        }
        h1 {
          font-size: 70px;
          margin: 0 0 24px 0;
        }
        h2{
          font-size: 30px;
          margin: 0 0 55px 0;
        }
        p {
          font-size: 30px;
          margin: 0 0 71px 0;
        }
        a.button {
          max-width: $four-col;
        }
      }
      #speakers {
        margin-top: 170px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          font-size: 30px;
          font-weight: 500;
          color: $light-text;
        }
        article {
          margin: 40px 0 0 0;
          max-width: $twelve-col;
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          .speaker {
            max-width: $two-col;
            margin: $padding-col / 2 $padding-col / 2 $padding-col 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
              border-radius: 50%;
              border: solid 4px #FFFFFF;
              width: 100px;
            }
            p.name {
              font-size: 17px;
              color: #FFFFFF;
              margin: 22px 0 0 0;
            }
            p.social {
              margin: 22px 0 0 0;
              svg {
                width: 24px;
              }
            }
            p.sticker {
              text-transform: uppercase;
              border: solid 2px $link-color;
              border-radius: 3px;
              color: $link-color;
              font-size: 12px;
              padding: 3px 6px;
            }
          }
        }
        .apply {
          margin: 55px 0 0 0;
          p {
            font-size: 30px;
            font-weight: 500;
            color: $light-text;
          }
          a.button {
            max-width: $four-col;
          }
        }
      }
    }
    @media(max-width: $medium-device) {
      .container {
        #info {
          align-self: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
  main section {
    padding: 130px 0 0 0;
    display: flex;
    justify-content: center;

    p {
      line-height: 30px;
    }

    &#organisors {
      .container {
        justify-content: space-between;
        flex-direction: row;
        // padding-bottom: 130px;
        // border-bottom: solid 1px rgba(136,166,200,0.43);
        .description {
          flex: 1;
          max-width: $six-col;
          font-size: 20px;
          color: $dark-text;
          h1 {
            margin: 0;
            font-size: 30px;
          }
          p {
            font-size: 20px;
            margin: 35px 0 0 0;
          }
        }
        .members {
          flex: 1;
          max-width: $five-col;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          @import "member.scss";
        }
        .members + a {
          margin-top: 30px;
        }
      }
      @media(max-width: $medium-device) {
        .container {
          flex-direction: column;
          align-items: center;
          .description {
            margin-bottom: 30px;
            text-align: center;
          }
          .members {
            width: 100%;
          }
        }
      }
    }
    &#team {
      padding-top: 60px;
      .container {
        justify-content: space-between;
        flex-direction: column;
        padding-bottom: 130px;
        border-bottom: solid 1px rgba(136,166,200,0.43);
        h2 {
          margin: 0 0 40px 0;
          color: $dark-text;
        }
      }
      .members {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        @import "member.scss";
        .member {
          margin: 0 10px;
        }
      }
      @media(max-width: $medium-device) {
        .container {
          h2 {
            text-align: center;
          }
        }
      }
    }
    &#venue {
      .container {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 130px;
        border-bottom: solid 1px rgba(136,166,200,0.43);
        .image {
          max-width: $six-col;
          img {
            width: 100%;
            border-radius: 6px;
          }
        }
        .location {
          width: $five-col;
          max-width: $five-col;
          h1 {
            font-size: 30px;
            color: $darker-text;
            margin: 0;
          }
          p.address {
            font-size: 15px;
            color: $grey-text;
            margin: 13px 0 0 0;
          }
          p.description {
            font-size: 20px;
            color: #5A6367;
            margin: 55px 0 0 0;
          }
          a.button {
            max-width: $three-col;
            margin: 55px 0 0 0;
          }
        }
      }
      @media(max-width: $medium-device) {
        .container {
          flex-direction: column;
          align-items: center;
          .image {
            margin-bottom: 30px;
          }
        }
      }
    }
    &#sponsors {
      .container {
        justify-content: space-between;
        padding-bottom: 130px;
        h1 {
          font-size: 30px;
          color: $dark-text;
          text-align: center;
        }
        p {
          font-family: Helvetica;
          font-size: 16px;
          color: $grey-text;
          text-align: center;
          margin-bottom: 80px;
        }
        .sponsor-container {
          .head {
            display: flex;
            flex-direction: row;
            align-items: center;
            hr {
              flex: 1;
              height: 0;
              border: none;
              border-top: solid 1px #CCD9E7;
            }
            p {
              margin: 0 32px;
              font-size: 20px;
              color: $grey-text;
            }
          }
          .items {
            padding: 45px 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            .sponsor {
              margin: 0 50px;
              padding: 0;
              img {
                height: 55px;
              }
            }
          }
        }
        .diversity {
          align-self: center;
          text-align: center;
          max-width: $eight-col;
          h3 {
          }
          p {
            margin: 20px 0 0 0;
          }
        }
      }
    }
    &#sponsor-booth {
      background-image: url(/assets/images/sponsor-booth.png);
      padding: 85px 0 80px 0;
      background-size: cover;
      border-top: solid 1px rgba(136,166,200,0.43);
      border-bottom: solid 1px rgba(136,166,200,0.43);
      .container {
        max-width: $ten-col;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        h1 {
          flex: 1 1 100%;
          text-align: center;
          font-size: 30px;
          color: $dark-text;
        }
        > p {
          flex: 1;
          max-width: $five-col;
          font-family: Helvetica;
          font-size: 16px;
          color: #5A6367;
        }
        div {
          font-size: 15px;
          color: #5A6367;
          line-height: 30px;
          flex: 1 1 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          p:last-of-type {
            color: #8F999D;
          }
          a.button {
            margin-top: 40px;
            max-width: $three-col;
          }
        }
      }
      @media(max-width: $medium-device) {
        .container {
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: center;
          h1 {
            margin: 0;
            flex: 1;
          }
          > p {
            max-width: none;
            text-align: center;
          }
          div {
            text-align: center;
          }
        }
      }
    }
    &#code-of-conduct {
      border-bottom: solid 1px rgba(136,166,200,0.43);
      padding-bottom: 130px;
      .container {
        text-align: center;
        align-items: center;
        h1 {
          max-width: $ten-col;
          margin: 0;
          font-size: 30px;
          color: $dark-text;
        }
        p {
          margin: 40px 0 0 0;
          max-width: $ten-col;
          font-size: 18px;
          color: $grey-text;
        }
      }
    }
    &#railsgirls {
      background-image: url(/assets/images/railsgirls.png);
      background-size: cover;
      padding-bottom: 130px;
      .container {
        text-align: center;
        align-items: center;
        h1 {
          max-width: $ten-col;
          margin: 0;
          font-size: 30px;
          color: $dark-text;
        }
        p {
          margin: 40px 0 0 0;
          max-width: $ten-col;
          font-size: 18px;
          color: $grey-text;
        }
      }
    }
  }
}