header {
  position: relative;
  height: 500px;
  background: #7B9196;
  background-image: url(/assets/images/header.jpg);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  align-items: center;
  > .overlay {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    background: #222222;
    opacity: 0.5;
  }
  > .info {
    position: relative;
    text-align: center;
    h1, h2 {
      color: $light-text;
      font-weight: normal;
    }
  }
}

section {
  padding: 30px 0;
  display: flex;
  h1 {
    margin: 0;
    margin-bottom: 30px;
  }
  h1 + p {
    margin-top: 0;
  }
  &#speakers {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
      h1 {
        flex: 1 1 100%;
      }
      .speakers {
        flex: 1;
        .speaker {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
      .proposals {
        display: flex;
        align-items: center;
        flex: 1;
      }

      .button.proposal {
        max-width: 220px;
      }
    }
  }

  &#sponsors {
    background: $light-bg;
    .button.sponsoring {
      max-width: 290px;
    }
    .sponsor-container {
      display: flex;
      flex-wrap: wrap;
      border-bottom: solid 1px $dark-bg;
      padding: 20px 0 30px 0;
      margin: 20px 0 30px 0;
      &:first-child {
        border-top: solid 1px $dark-bg;
      }
      h2 {
        text-align: center;
        flex: 1 1 100%;
      }
      &.platinum {
        .sponsor {
          img {
            max-width: 220px;
            max-height: 220px;
          }
        }
      }
      &.silver {
        .sponsor {
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
      &.community {
        .sponsor {
          img {
            max-width: 100px;
            max-height: 100px;
          }
        }
      }
      .sponsor {
        &:not(:first-child) {
          margin-right: 20px;
        }
        &> a {
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            margin-top: 20px;
          }
        }
      }
    }
  }

  &#team {
    .members {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      article.member {
        max-width: $two-col;
        display: flex;
        flex-direction: column;
        text-align: center;
        &> img {
          border-radius: 50%;
          width: 100%;
        }
        span {
          margin-top: 10px;
        }
        .social {
          margin-top: 10px;
          display: flex;
          justify-content:space-around;
          img {
            height: 30px;
          }
        }
      }
    }
    .members + a {
      margin-top: 30px;
    }
  }

  &#venue {
    background: $light-bg;
  }

  &#code-of-conduct {
    
  }
}