#jobs-page {
  .sponsor {
    margin-bottom: 40px;

    h1 {
      margin-bottom: 10px;
      text-align: center;
      img {
        color: initial;
      }
    }
    img {
      height: 100px;
      object-fit: contain;

      &[src*="beequip"],
      &[src*="youngcapital"] {
        height: 80px;
      }
      &[src*="nexmo"],
      &[src*="adcombi"],
      &[src*="ioki"] {
        height: 70px;
      }
      &[src*="github"] {
        height: 60px;
      }
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .item {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    flex-basis: calc(50% - 40px);
    background: white;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);

    @media(max-width: 700px) {
      flex-basis: calc(100% - 40px);
    }
  }
}
