.member {
  flex-basis: 150px;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
  &> img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }
  div {
    margin-top: 18px;
    font-size: 15px;
    color: $darker-text;
  }
  .social {
    display: flex;
    margin-top: 22px;
    justify-content: space-evenly;
    svg {
      height: 24px;
      fill: #F33A43;
    }
  }
}
