nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 15px 0;
  background: #fff;
  box-shadow: 0 0 4px rgba($dark-bg, 0.1);

  .container {
    a {
      text-decoration: none;
      > img {
        height: 40px;
      }
    }

    #nav-toggle,
    label {
      display: none;
    }

    ul.navigation {
      width: 100%;
      font-size: 16px;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 6px 0;
      list-style: none;
    }
    li {
      display: flex;
      &.logo {
        padding: 0;
        margin-right: auto;
      }
      &.home {
        display: none;
      }
      &:not(.logo) {
        a {
          padding: 10px 20px;
          color: $dark-text;
        }
        a:visited,
        a:hover,
        a.active {
          background: #fff;
          border-radius: 30px;
          text-decoration: underline;
        }
      }
    }

  }
  @media(max-width: $nav-collapse-threshold) {
    padding: 0;
    .container {
      padding: 0;
      label[for=nav-toggle] {
        display: block;
        height: 58px;
        width: 60px;
        background-image: url(/assets/images/hamburger.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin: 0;
        text-indent: 100%;
      }
      ul.navigation {
        display: none;
        li {
          a,
          a:visited{
            color: $darker-text;
          }
          a:hover {
            color: $link-color;
          }
          &.logo {
            display: none;
          }
          &.home {
            display: flex;
          }
        }
      }
      #nav-toggle:checked ~ label[for=nav-toggle], #nav-toggle:checked ~ ul.navigation {
        width: 250px;
        position: fixed;
        margin-bottom: 0;
        background: #fff;
        box-shadow: 0 0 20px rgba($dark-text, 0.1);
      }
      #nav-toggle:checked ~ label[for=nav-toggle] {
        text-indent: inherit;
        height: 48px;
        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 14px;
          left: 220px;
          width: 2px;
          height: 20px;
          background: #000;
          opacity: 1;
        }
        &:after {
          transform: rotate(45deg);
        }
        &:before {
          transform: rotate(-45deg);
        }
      }
      #nav-toggle:checked ~ ul.navigation {
        display: block;
        top: 48px;
        bottom: 0;
        > li a {
          padding-left: 30px;
          padding-right: 30px;
          line-height: 30px;
        }
      }
    }
  }
}
