header.small {
  position: relative;
  height: 500px;
  padding-top: 110px;
  background: #7B9196;
  background-image: url(/assets/images/header.png);
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
  border-bottom: solid 1px rgba(136,166,200,0.43);

  > .overlay1 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(216,216,216,0.00) 100%);
  }
  > .overlay2 {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    position: absolute;
    opacity: 0.65;
    background-image: linear-gradient(-143deg, #9FBAF2 1%, #58D7F5 100%);
  }
  .container {
    margin-top: 70px;
    #info {
      position: relative;
      max-width: $six-col;
      h1, h2, p {
        color: $light-text;
        font-weight: normal;
      }
      h1 {
        font-size: 70px;
        margin: 0 0 24px 0;
      }
      h2{
        font-size: 30px;
        margin: 0 0 55px 0;
      }
      p {
        font-size: 30px;
        margin: 0 0 71px 0;
      }
      a.button {
        max-width: $four-col;
      }
    }
  }
  @media(max-width: $medium-device) {
    .container {
      #info {
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    }
  }
}