.container {
  justify-content: space-between;
  padding-bottom: 130px;
  h1 {
    font-size: 30px;
    color: $dark-text;
    text-align: center;
  }
  p {
    font-family: Helvetica;
    font-size: 16px;
    color: $grey-text;
    text-align: center;
    margin-bottom: 80px;
  }
  .sponsor-container {
    .head {
      display: flex;
      flex-direction: row;
      align-items: center;
      hr {
        flex: 1;
        height: 0;
        border: none;
        border-top: solid 1px #CCD9E7;
      }
      p {
        margin: 0 32px;
        font-size: 20px;
        color: $grey-text;
      }
    }
    .items {
      padding: 45px 0;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
    .sponsor {
      margin: 0 50px 30px 0;
      padding: 0;
      text-align: center;
      &:nth-child(even) {
        margin-right: 0;
      }
      a {
        display: inline-block;
        padding: 10px 0;
        max-height: 55px;
        height: 55px;
      }
      img {
        max-height: inherit;
        height: inherit;
        max-width: 100%;
        width: auto;
      }
      p {
        max-width: 300px;
        margin: 12px 0 0 0;
      }
      &.with-spacing {
        a {
          padding: 0;
          max-height: 75px;
          height: 75px;
        }
      }
      &.sponsor-salonized {
        a {
          width: 70%
        }
      }
    }
  }
  .diversity {
    align-self: center;
    text-align: center;
    max-width: $eight-col;
    h3 {
    }
    p {
      margin: 20px 0 0 0;
    }
  }
  @media(max-width: 800px) {
    .sponsor-container.platinum {
      .sponsor {
        margin-right: 0;
        width: 100%;

        p {
          margin: 0 auto;
        }
      }
    }
  }
  @media(max-width: 750px) {
    .sponsor-container {
      .sponsor {
        margin-right: 0;
        &.sponsor-salonized a {
          height: 40px;
        }
      }
      &:not(.platinum) {
        .sponsor {
          width: 100%;
        }
      }
    }
  }
}
