#packages {
  .package {
    width: 16%;
  }
  img {
    height: 1em;
    &[src*="no"] {
    }
  }
}

#become-sponsor {
  article {
    width: 100%;
    max-width: $eight-col;
    margin-left: auto;
    margin-right: auto;
  }
  article + article {
    margin-top: 40px
  }
}
