#sponsors {
  text-align: center;

  .container > h2 {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
  }

  .sponsor-container {
    margin-top: 40px;
    background: #fff;
    border-radius: 5px;
  }

  img {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 220px;
    object-fit: contain;
  }

  h3 {
    border-bottom: 1px solid $border;
    padding: 20px
  }

  figure {
    margin: 0;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .logo {
    flex: 0;
    margin: 20px;
  }

  .platinum {
    img {
      max-height: 45px;
      max-width: 225px;
    }

    figure {
      height: 45px;
    }

    .sponsor {
      display: flex;
      flex: 0;
      flex-basis: 313px;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding: 20px 20px;
      text-align: center;
    }
    p {
      max-width: 300px;
    }
  }

  .diversity-sponsors {
    align-self: center;
    max-width: $eight-col;
    margin-top: 40px;

    h2 {
      margin-top: 60px;
    }
  }

  .sponsor-phusion img {
    height: 50px;
  }
  .sponsor-youngcapital img {
    height: 80px;
    max-height: 80px;
  }
  .sponsor-salonized img {
    height: 30px;
  }
  .sponsor-balsamiq img {
    max-height: 55px;
  }
  .sponsor-talent img {
    max-height: 55px;
  }
  .sponsor-gitlab img {
    height: 100px;
    max-height: 100px;
  }
  .sponsor-stickermule img {
    height: 100px;
    max-height: 100px;
  }
}
