.container {
  justify-content: space-between;
  padding-bottom: 130px;
  h1 {
    font-size: 30px;
    color: $dark-text;
    text-align: center;
  }
  p {
    font-family: Helvetica;
    font-size: 16px;
    color: $grey-text;
    text-align: center;
    margin-bottom: 80px;
  }
}
.sponsor-container + .sponsor-container {
  margin-top: 45px;
}
.sponsor-container {
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;

    hr {
      flex: 1;
      height: 0;
      border: none;
      border-top: solid 1px #CCD9E7;
    }
    p {
      margin: 0 32px;
      font-size: 20px;
      color: $grey-text;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .sponsor {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    justify-content: space-evenly;
    align-content: center;

    padding: 25px;
    text-align: center;

    a {
      display: inline-block;
      max-width: 300px;
      max-height: 55px;
      height: 55px;
      align-self: center;
    }
    img {
      max-height: inherit;
      height: inherit;
      width: auto;
      max-width: 100%;
    }
    p {
      margin: 12px auto 0 auto;
      max-width: 300px;
    }
    &.with-spacing {
      padding: 20px;
      a {
        max-height: 75px;
        height: 75px;
      }
    }
  }
  .sponsor-invoicefinance {
    a {
      max-width: 280px;
    }
  }
  .sponsor-salonized {
    a {
      width: 200px;
    }
  }
  .sponsor-youngcapital {
    a {
      height: 100px;
      max-height: 100px;
    }
  }
  @media(max-width: 800px) {
    &.platinum {
      .sponsor {
        margin-right: 0;
        width: 100%;

        p {
          margin: 0 auto;
        }
      }
    }
  }
  @media(max-width: 750px) {
    .sponsor {
      margin-right: 0;
      &.sponsor-salonized a {
        height: 40px;
      }
    }
    &.platinum {
      .sponsor {
        flex-basis: 100%;
      }
    }
  }
  @media(max-width: 700px) {
    .sponsor {
      flex-basis: 100%;
    }
  }
}
.diversity-sponsors {
  margin-top: 30px;
  align-self: center;
  max-width: $eight-col;
  text-align: center;
  p {
    margin: 20px 0 0 0;
  }
}
