table {
  border-collapse: collapse;
  border: 1px solid $border;
  width: 100%;
  font-size: 15px;
  margin-bottom: 40px;
  .center {
    text-align: center;
  }
}
td,
th {
  padding: 10px;
  border: 1px solid $border;
  vertical-align: middle;
}

tbody th {
  text-align: left;
}

tfoot td {
  font-weight: bold
}
tr:nth-child(2n) {
  background-color: mix($border,white);
}
