$two-col: 140px;
$three-col: 220px;
$four-col: 300px;
$five-col: 380px;
$six-col: 460px;
$seven-col: 540px;
$eight-col: 620px;
$nine-col: 700px;
$ten-col: 780px;
$eleven-col: 860px;
$twelve-col: 940px;
$padding-col: 20px;

$medium-device: 980px;
$nav-collapse-threshold: 770px;

$dark-bg: #2A3843;
$light-bg: #DDE8F1;
$border: #DDE8F1;
// $link-color: #FF316C;
$link-color: #F33A43;
$light-text: #FFFFFF;
$grey-text: #79858A;
$dark-text: #854170;
$darker-text: darken(#854170,10);
