$two-col: 140px;
$three-col: 220px;
$four-col: 300px;
$five-col: 380px;
$six-col: 460px;
$seven-col: 540px;
$eight-col: 620px;
$nine-col: 700px;
$ten-col: 780px;
$eleven-col: 860px;
$twelve-col: 940px;
$padding-col: 20px;


$dark-bg: #2A3843;
$light-bg: #DDE8F1;
// $link-color: #FF316C;
$link-color: #e8283e;
$light-text: #FFFFFF;